.background {
    width: fit-content;
    background: #e3eaed;
    border-radius :10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    
}

/* .center {
   width:100%;
    text-align: center;
    justify-content: center;
    align-content: stretch;
} */

.btnlist div{
    float: left;
}

.btnlist div:nth-child(5n + 1){
    clear:both;
}

@media screen and (max-width: 900px) {

    .btnlist div:nth-child(5n + 1){
        clear:none;
    }

	.btnlist div:nth-child(4n + 1){
        clear:both;
    }
}